@model IEnumerable<Smart_School.Models.NewsViewModel>

@{
    ViewBag.Title = "ViewNews";
}

<h2>ViewNews</h2>

<a class="btn btn-success" href="@Url.Action("exportReportNews")">Download PDF</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

        </tr>
    }

</table>
