@model IEnumerable<Smart_School.Models.HostelViewModel>

@{
    ViewBag.Title = "AllHostel";
}

<h2>AllHostel</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostelLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostelLocation)
        </td>
        <td>
            @Html.ActionLink("Update Hostel", "UpdateHostel", new { id=item.Id }) |
            @Html.ActionLink("Delete Hostel", "DeleteHostel", new { id=item.Id })
        </td>
    </tr>
}

</table>
